  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 body{
	scroll-behavior: smooth;
 }
 
 .clear-fix{
	clear:both;
 }
 h1, h2, h3 {
	font-family: 'Rubik', sans-serif;
 }
 p, a, h4{
	font-family: 'Nunito Sans', sans-serif;
 }
 .bgimg{
	background-image: url(../img/about.png);
	background-repeat: no-repeat;
	background-size: cover;
	height:597px;
 }
 .container1{
	width: 80%;
	margin: 0 auto;
 }
 .header{
	
 }
 .logo{
	width: 30%;
	float:left;
 }
 .logo img{
	height: 120px;
 }
 .nav{
	width:69%;
	float:right;
	padding-top: 62px;
 }
 li{
	list-style-type: none;
 }
  .nav ul{
	text-align: right;
	font-size: 18px;
    word-spacing: 60px;
  }
  .nav ul>li{
	display: inline-block;
  }
  .nav ul>li>a{
	color: black;
	text-decoration: none;
  }
  .intro{
	text-align: center;
  }
  .intro1{
	margin-top: 146px;
  }
  .intro>h1{
	font-size: 50px; 
  }
  h3{
	padding: 20px 0 10px 0;
    font-size: 28px;
  }
  .dark{
	background: #000000bd;
    color: white;
  }
  
  #service{
	background: #f6f6f6;
  }
  .heading2{
	padding: 20px;
    font-size: 35px;
  }
  .col-2{
	width:47%;
	float:left;
	margin-left:2%; 
  }
  .col-3{
	width:30.66%;
	float:left;
	margin-left:2%; 
  }
  .col-5{
	width: 17.6%;
    float: left;
    margin-left: 2%;
  }
  .services{
	margin-top: 30px;
    padding: 42px 0 10px 0;
    background: #181714;
    color: aquamarine;
    text-align: center;
   }
  .ser{
	padding: 38px;
  }
  .ser:hover{
	padding: 25px;
  }
  .img{
	width: 100%;
  }
  
  .cont-center{
	padding: 10px 0 10px 0;
  }
  .cont-middle{
	padding: 110px 30px;
  }
  #Frenchise{
	background: #f6f6f6;
  }
  
  .footer{
	background: black;
	padding: 20px 0 20px 0;
	text-align:center;
  }
  .footer li{
	padding: 10px 0 10px 0;
  }
  .footer a{
	color: white;
	text-decoration: none;
  }
